body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: #fff;
}

a {
    text-decoration: none;
    color: red;
}

#login {
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.name input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
    margin-bottom: 15px;
}

.email input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
}

.senha input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
    margin-top: 15px;
}

.entrar input {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(141, 0, 0);
    color: #141414;
}

.entrar button {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(141, 0, 0);
    color: #141414;
}

input::placeholder {
    color: #b6b6b6;
}

h1 {
    color: #FAFAFA;
}

.caixa {
    margin-top: 65px;
}

.caixa img {
    width: 150px;
}

input:focus {
    outline: none;
}


