/* STYLE GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}   

.navbar {
    max-width: 1280px;
    margin: 0 auto;
   
}

.flex {
    display: flex;
}


.btn-login-cadastro button {
    padding: 10px 40px;
    font-size: 18px;
    
    background-color:rgb(141, 0, 0);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    color: white;
    font-weight: bold;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color:rgb(141, 0, 0);
}

button:hover,
form .btn-login-cadastro input:hover {
    box-shadow: 0px 0px 8px white;
    transform: scale(1.05);
}

/* FIM STYLE GERAL */



/* STYLE NAVBAR */
header {
    padding: 30px 4%;
}

header > .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #acacac;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu ul li {
    display: inline-block;
    padding: 0 70px;
    font-weight: bold;
}

/* FIM STYLE NAVBAR */



/* STYLE PAGINAINICIAL */

section.paginaInicial {
    padding: 40px 4%;
}

section.paginaInicial .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.paginaInicial h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.paginaInicial .txt-paginaInicial h1 span {
    color: rgb(141, 0, 0);
}

.paginaInicial .txt-paginaInicial p {
    color: #fff;
    margin: 40px 0;
   
}

.paginaInicial .img-paginaInicial img {
    width: 400px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* FIM STYLE PAGINAINICIAL */

/* STYLE FUNCIONALIDADES SITE */

section.funcionalidades {
    padding: 40px 4%;
   
}

section.funcionalidades .flex {
    gap: 60px;
}

.funcionalidades .funcionalidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.funcionalidades .funcionalidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.funcionalidades .funcionalidades-box i {
    font-size: 70px;
    color: rgb(141, 0, 0);
}

.funcionalidades .funcionalidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* FIM STYLE FUNCIONALIDADES SITE */

/* STYLE MINHA HISTORIA e SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color:rgb(141, 0, 0);
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color:rgb(141, 0, 0);
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}
/* FIM STYLE MINHA HISTORIA e SOBRE */

/* STYLE MINHASARTES */
section.MinhasArtes {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #3736368c;
}

section.MinhasArtes .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-MinhasArtes {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-MinhasArtes:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004d;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* FIM STYLE MINHASARTES */


/* STYLE RODAPE */
footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid white;
}

footer .line-footer p i {
    color:rgb(141, 0, 0);
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}
/* FIM STYLE RODAPE */
