* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../assets/img/FUNDOFLORES.png);
    background-size: cover;
    background-color: black;

}


h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #570404;
}


header {
    padding: 60px 4%;
}


.section_quiz{
display: flex;
padding-top: 80px;
}

.quiz-container {
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    backdrop-filter: blur(5px);
    width: 520px;
    height: 360px;
    background-color: #2f0202;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.div-quiz p {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: bold;
    font-weight: 1000;
    font-size: larger;
    height: auto;
    width: auto;
    text-align: center;
    padding: 10px 10px;

}


input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 57px;
    width: 350px;
    text-align: center;
    background-color: #000000;
    border: none;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}


input[type="radio"]:checked+label {
    background-color: #aa478b;
    color: #fff;
}

.quiz-container button {
    background: transparent;
    border: none;
    margin-left: 420px;
}

.quiz-container .button {
    background: transparent;
    border: none;
    width: 200px;
    height: 30px;
    background-color: #3f0b0b;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.7s;

    margin: auto;
}

.quiz-container .button:hover {
    background-color: #983c8d;
}

/*section saida quiz*/
.divResultados {
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    backdrop-filter: blur(5px);
    width: 520px;
    height: 360px;
    background-color: #2f0202;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.divResultados h2 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: bold;
    font-weight: 1000;
    font-size: larger;
    height: auto;
    width: auto;
    text-align: center;
    padding: 10px 10px;
}

.divResultados span {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: bold;
    font-weight: 1000;
    font-size: larger;
    height: auto;
    width: auto;
    text-align: center;
    padding: 10px 10px;
}


.btn-gabarito{
padding: 40px;

}



.divResultados a {
    border: none;
    padding: 7px 60px;
    color: #ffffff;
    font-weight: bold;
    background: #000000;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}

.divResultados a:hover {
    background-color: #7b4076;
    color: #fff;
    font-weight: bold;
    transition: 0.8s;
}

.divResultados button:hover {
    background: #aa4793;
}

